/* Define the maximum height of the logo image */
.img-max-height {
  max-height:50px;
}

.color-nav {
  background-color: rgb(21,94,111);
}

.color-footer {
  background-color: white;
  margin-top: 10px;
}